.comments_container {
    padding: 1rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    margin-top: 1rem;
  }
  
  .comment_item {
    padding: 0.5rem 0;
    border-bottom: 1px solid #ddd;
  }
  
  .comment_item p {
    margin: 0.2rem 0;
  }
  
  .comment_item strong {
    color: #333;
  }
  